<div class="po-row">
    <div class="po-lg-1">

        <po-modal p-title="Nova Tarefa" [p-primary-action]="confirmar" [p-secondary-action]="fechar">

            <form #optionsForm="ngForm">
                <div class="po-row">
                    <po-input class="po-md-12" name="tarefa" p-label="Tarefa" [(ngModel)]="tarefa" (p-blur)="validaInput()">
                    </po-input>
                </div>
                <div class="po-row">
                    <po-combo class="po-md-6" name="categoria" [(ngModel)]="categoria" p-label="Categoria" [p-options]="categoriaOptions">
                    </po-combo>
                </div>
                <div class="po-row">
                    <po-datepicker class="po-md-6" name="datalimite" [(ngModel)]="datalimite" p-clean p-format="dd/mm/yyyy" (p-change)="validaData()" p-label="Data Limite">
                    </po-datepicker>
                </div>
            </form>

        </po-modal>

        <po-button p-label="Novo" (p-click)="abrirCadastro()">
        </po-button>
    </div>
    <div class="po-lg-10">

        <po-table [p-columns]="columns" [p-items]="items" p-sort="true" [p-striped]="true">

            <ng-template p-table-row-template let-rowItem let-i="rowIndex" [p-table-row-template-show]="isUndelivered">
                <po-combo class="po-md-6" name="concluida" [(ngModel)]="concluida" p-label="Alterar" [p-options]="concluidaOptions" (p-change)="alterItens(rowItem)">
                </po-combo>
                <!--
                <po-widget p-title="Alterar {{ rowItem.id }}">
                    <div class="po-row">
                        <po-select class="po-md-6" name="Status" [(ngModel)]="rowItem.status" p-label="Status da Tarefa" [p-options]="categoriaOptions" (p-change)="alterItens(rowItem)">
                        </po-select>
                    </div>
                </po-widget>
                -->
            </ng-template>
        </po-table>
    </div>
    <div class="po-lg-1"></div>
</div>